name: CI

on: [push, pull_request]

jobs:
  build:
    name: 'Build and test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update Rust toolchain
        run: rustup update

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test

  formatting:
    name: 'Check formatting'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update Rust toolchain
        run: rustup update

      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy:
    name: 'Check lints'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update Rust toolchain
        run: rustup update

      - name: Check lints
        run: cargo clippy --all-targets --all -- --deny warnings
